<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
  <%= event.teamName %>
</td>
<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
  #<%= typeof event.teamNumber !== 'undefined' ? event.teamNumber : event.teamID
  %>
</td>
